body{
     font-family: monospace;
     margin-left: 40px;
     }

     body, html {
       background-color:#343a40 !important;
     }

p#welcome{font-family: fantasy;
  font-size: 1.2em;

}


h1{font-family: fantasy;
   text-shadow: 0 0 3px #FF0000;
   text-align: center;}

 h2{font-family: fantasy;
      text-shadow: 0 0 3px #FF0000;
      text-align: left;}


   .bg-light.navbar {
       background-color: #f0ffff !important;
   }
img#run{
  width:350px;
}
.kalam{font-size: 1.5em;}

.bg-img.container{
  background-image: url(../blurry1.jpg);
    background-repeat: NO-REPEAT;
    height: 100%;
    background-size: cover;
    padding:0px;
}
        h2{
          font-family: fantasy;
          text-shadow: 0 0 3px #FF0000;
          text-align:left;
           margin-left: 50px;
         }
